span{
    font-style: oblique;
}
span.negrita{
    font-weight: bold;
}
span.pequenia{
    font-size: smaller;
}
ul¨{
    list-style-type: square;
}
ol{
    list-style-image: url("img/patito.jpg");
}
